<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>icon.png</string>
			<key>Regular Expression</key>
			<string>https?:\/\/pic\.twitter\.com\/[^\s]*\w</string>
			<key>Shell Script File</key>
			<string>get_twitter_media.sh</string>
			<key>Title</key>
			<string>Open Twitter Media</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Open the image urls from the selected twitter media url.</string>
	<key>Extension Identifier</key>
	<string>com.tsaiid.popclip.extension.open-twitter-media</string>
	<key>Extension Name</key>
	<string>Open Twitter Media</string>
	<key>Required OS Version</key>
	<string>10.7</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
