<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>icon.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.*```.+```.*$</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/ruby</string>
			<key>Shell Script File</key>
			<string>converter.rb</string>
			<key>Title</key>
			<string>WP Shortcode Converter</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Convert Fenced Code Block to Wordpress Shortcodes format</string>
	<key>Extension Identifier</key>
	<string>com.tsaiid.popclip.extension.wp-shortcode-converter</string>
	<key>Extension Name</key>
	<string>WP Shortcode Converter</string>
</dict>
</plist>
